<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>
    You have <strong>{{ cart.totalItemsCount }} items</strong> in your shopping cart.
    <button class="btn btn-link" (click)="clearCart()">Clear Cart</button>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th class="text-center w-25">Quantity</th>
        <th class="text-right w-25">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productId of cart.productIds">
        <td><img [src]="cart.items[productId]?.product.imageUrl" alt="product" class="img-thumbnail rounded-circle"> {{ cart.items[productId].product.title }}</td>
        <td class="text-center">
            <product-quantity [product]="cart.items[productId]?.product" [shoppingCart]="cart"></product-quantity>
        </td>
        <td class="text-right">
          {{ cart.items[productId]?.totalPrice | currency:'USD':'symbol' }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <th class="text-right" colspan="3">{{ cart.totalPrice | currency:'USD':'symbol' }}</th>
    </tfoot>
  </table>
  <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
</ng-container>
